<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}My Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <nav class="nav bg-info">
        <ul>
            <li><a class="nav-link link-light" href="/">Blog M3-UF6</a></li>
            <li><a class="nav-link link-light" href="{% url 'posts_list' %}">POSTS</a></li>
            <li><a class="nav-link link-light" href="{% url 'authors_list' %}">AUTORS</a></li>
            <li><a class="nav-link link-light" href="{% url 'tags_list' %}">TAGS</a></li>
        </ul>
    </nav>

    {% block header_image %}
    <!-- Imatge per pàgina -->
        <img class="header-image" src="{% static 'blog/django.jpg' %}" alt="Imatge del blog" />
    {% endblock %}

    <main>
        {% block content %}
        <!-- Contingut específic per pàgina -->
        {% endblock %}
    </main>

    <footer class="footer bg-info">
        <p>© 2025 Blog</p>
    </footer>
</body>
</html>
