{% extends "blog/base.html" %}

{% block title %}{{ post.title }} - Blog M3-UF6{% endblock %}
{% block header_image %}
{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/style.css' %}">
{% block content %}
  <article class="post-detail">
    
    <!-- Títol -->
    <h1 class="post-title">{{ post.title }}</h1>
    
    <!-- Extracte -->
    <p class="post-excerpt"><em>{{ post.excerpt }}</em></p>
    
    <!-- Data -->
    <p class="post-date">Publicat el {{ post.date|date:"d/m/Y" }}</p>
    
    <!-- Autor -->
    <p class="post-author">
      Autor: <a href="{% url 'author_detail' post.author.id %}">
              {{ post.author.first_name }} {{ post.author.last_name }}
            </a>
    </p>


    <!-- Imatge -->
    {% if post.image_name %}
      <div class="post-image">
        <img src="{% static 'blog/' %}{{ post.image_name }}" alt="Imatge de {{ post.title }}">
      </div>
    {% endif %}

    <!-- Contingut -->
    <div class="post-content">
      {{ post.content|linebreaks }}
    </div>

    <!-- Etiquetes -->
    <p class="post-tags">
      Etiquetes:
      {% if post.tags.exists %}
          {% for tag in post.tags.all %}
            <span class="tag">{{ tag.tag }}</span>{% if not forloop.last %}, {% endif %}
          {% endfor %}
      {% else %}
          Cap etiqueta
      {% endif %}
    </p>

  </article>
{% endblock %}
